node_modules/
.gradle/
build/
*.keystore
keystore.properties
.env
ios/Pods/
ios/build/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.orig.*
*.jks
.bundle/
.DS_Store
Thumbs.db
